[2019-09-29 09:45] sgofferj opened #2 "Data from InfluxDB"
Not sure if this a support or feature request. I'm trying to visualize track data from an InfluxDB source. The data is stored in "longitude" and "latitude". I have tried the following queries without success:

[code]

I'm not sure in which format the plugin is expecting the data. Would you kindly advise? In case, it's not yet possible to use data from InfluxDB, please consider this a feature reque

[2019-09-30 08:40] Drazair commented on #2
Hey Sqofferj, the panel should work with a influxDB datasource.

Have you set the `Format as` to `Table` instead of the default `Time series`?

[2019-09-30 08:49] sgofferj commented on #2
@Drazair
Thanks! I just tried time series but I still don't get anything. I'm probably missing something basic. Could you advise on how exactly the query should look like?

[2019-09-30 08:52] sgofferj commented on #2
Never mind... I wrote "longitude as lon" instead on "longitude" as lon... It works fine.
Thanks a lot!

[2019-10-08 08:53] sgofferj commented on #2
It just stopped working and I didn't change anything.
That's my query:
[code]
I selected "Format as table".
The query inspector shows that data is returned and the data looks good...
[code]
Browser console shows no error.
Grafana log shows no error.

[2019-10-08 10:43] sgofferj commented on #2
Updated to Grafana 6.4.2. Now I see an error in the console:
[code]

[2019-10-14 12:24] OddmarDam opened #3 "Tracking multiple items"
Hi.

Is it possible to track multiple items ?
I have 3 ships that I'm tracking, data is stored as:
Timestamp, Imo (ship identifier), Name, Lat, Lon

[2019-10-17 11:35] fjacobsabalia opened #4 "map dont show the points"
Hi!

Im trying to use the plugin and make your example to use but it doesnt work the response its like this.

![image](https://user-images.githubusercontent.com/50323519/67005267-8370e580-f0e2-11e9-8d4a-7de460030792.png)

and my query is:

SELECT time, latitude as lat, longitude as lon
FROM doc.datasource
WHERE $__timeFilter(time)
ORDER BY time

where the datasource has the next structure

zip | c

[2019-10-17 11:50] #4 closed

[2019-10-17 11:53] fjacobsabalia commented on #4
please delete this issue or use as example i only need to change from timeseries to table
![image](https://user-images.githubusercontent.com/50323519/67006484-8b7e5480-f0e5-11e9-9bd7-89e31efc7897.png)

[2019-10-17 13:09] Alkarex commented on #4
Thanks for the feedback 👍

[2019-10-19 08:19] sgofferj opened #5 "L.heatLayer is not a function"
I had problems with getting InfluxDB data to display (s. #2 ). After getting it to work, it suddenly stopped working with Grafana 6.4.1 and with the update to 6.4.2, I get the following error:

[code]

Just updated to 6.4.3 and the error is still there:
[code]

[2019-10-21 13:43] Drazair commented on #2
Hey Sgofferj,

Sorry for the late reply, had some other assignments that took all my time.

I just tried downloading the newest version of Gafana, and I'm not getting any errors. Are you using any other plugins?

[2019-10-21 13:52] sgofferj commented on #2
That was a good hint... Yes, I am using the trackmap panel (https://github.com/pR0Ps/grafana-trackmap-panel) on the same dashboard. Deleted it for testing now and without it, Track Map works... I also tried 2 Track Map panels in one dashboard but that also doesn't work. Now the error message kinda makes sense also. I suppose, Track Map just uses a reference implementation of Leaflet, using "L" as

[2019-10-21 13:57] Drazair commented on #3
Hey OddmarDam,

It is possible to track multiple items, it's just not recommended to use ant-path with multiple items, since it won't give a path for each items, but one path with all items coordinates.

To track multiple items you just have to query them from your database.

[2019-11-11 17:09] Alkarex commented on #5
Hello @sgofferj , would you have the possibility of testing this candidate fix? https://github.com/alexandrainst/alexandra-trackmap-panel/pull/6

[2019-11-13 10:52] sgofferj commented on #5
I'll try to test it this week.

[2019-11-13 11:05] Drazair commented on #2
I'm going to close this issue since it's been solved, and the problem with the conflict between plugins have its own issue ( #5 )

[2019-11-13 11:05] #2 closed

[2019-11-13 11:39] #5 closed

[2019-11-13 11:40] Alkarex commented on #5
@sgofferj Thanks. Looking forward to your feedback

[2019-12-02 07:10] #3 closed

[2019-12-13 16:13] sptrakesh opened #7 "Do not see location on map"
This is most likely a question and not necessarily a bug.  I followed the documentation for displaying NGSIv2 data, and through the query inspector and datasource logs I think I see the data being returned as it is supposed to be formatted.  However I do not see any points on the map.

Related question is is there a way to automatically have the map centre itself based on range of points being dis

[2019-12-17 13:52] knuterlandbrun opened #8 "Track line across the entire world when position has moved from eastern to western hemisphere"
What happened? Track map shows a line across the entire world when position has moved from eastern to western hemisphere.What was expected to happen?Track Map should not plot a trace line when positions shifts from eastern to western hemisphere. This is exception should be rather easy to implement. Steps to reproduce the problem: 1. create a trace map 2. add a position time series where positions

[2019-12-19 09:30] Drazair commented on #7
Hey Sptrakesh,

It looks like the rows are wrap with a "location" which it doesn't except. Could you send the query you used, so I can see if it's a problem with the plugin or the query?

And it's currently not possible to have the map center itself based on the points, but should be easy to implement, when I have the time.

[2019-12-19 11:42] sptrakesh commented on #7
Hello,

The data is coming from an Akumuli event stream that is retrieved via a custom JSON datasource, so it will be hard for you to replicate.

When I did not see the data, I inspected the map query control implementation, and it looked like you expect a structure similar to what I have above as well.

https://github.com/alexandrainst/alexandra-trackmap-panel/blob/master/src/map_ctrl.js#L88

If

[2019-12-19 12:30] sptrakesh commented on #7
Did a debug build by adding some console output, and now I know why the map shows nothing.  Looks like the output is invalid (no errors shown) as far as what Grafana expects.  See this [screen capture](https://sptci.com/uploads/map-issue.png) where you can see the query inspector shows the data, but in the map control, during iteration it just sees an array of `null` values.

[2019-12-19 12:40] Drazair commented on #7
Here is the structure that i'm getting from a CrateDB:
[code]

It doesn't have to be a json string, here is the string as a object:
[code]

[2019-12-19 12:41] Drazair commented on #7
The metadata above is not needed for the plugin, it's just part of NSGIv2 data format

[2019-12-19 12:46] sptrakesh commented on #7
Thanks for the samples, that is very helpful.  Still not clear how the array without a wrapper `location` object works based on line 88 (on master branch) in the map control code.  The bigger issue in my case seems to be a mismatch in the data I see in the query inspector vs the data that gets to the map control.

https://sptci.com/uploads/map-issue.png

[2019-12-19 13:04] Drazair commented on #7
The `location` variable, that is used in line 88, is the index in the array that was found from the columns list.

Haven't had any problems with a mismatch between the query inspector and the map controls data. This seems more like a problem with the Grafana and your data source.

The response I get in the query inspector looks a lot different compared to yours:
![query-inspector](https://user-ima

[2019-12-19 14:31] sptrakesh commented on #7
Thanks for your help.  Definitely looks like a datasource issue.

[2019-12-19 14:31] #7 closed

[2019-12-19 17:14] sptrakesh opened #9 "Re-centre map"
I did a very simple implementation where I re-centre the map after data points have been retrieved.  It is probably best to make this a configuration option, but for my case this is good enough.

https://github.com/alexandrainst/alexandra-trackmap-panel/compare/master...sptrakesh:master

[2019-12-20 13:00] Drazair commented on #8
Hey Knuterlandbrun

From the looks of the image you sent does it look like the plugin you are using is Grafana's trackmap:
https://grafana.com/grafana/plugins/pr0ps-trackmap-panel

But it seems this is also a problem with our plugin. I'll look into it more when I have the time.

[2019-12-28 23:12] Crisesm opened #10 "it is not marked on the map with postgres"
I don't think this is a mistake but I can't make it mark on the map

create the column in postgres as timestam
![DeepinScreenshot_Seleccionar área_20191228224835](https://user-images.githubusercontent.com/40926691/71551343-48354180-29c4-11ea-907b-de329c01e51e.png)
![DeepinScreenshot_Seleccionar área_20191228224855](https://user-images.githubusercontent.com/40926691/71551346-4d928c00-29c4-11ea-82b8

[2020-01-29 10:44] Drazair commented on #9
The re-center of the map is now implemented in version 1.2.4.
https://github.com/alexandrainst/alexandra-trackmap-panel/commit/be44cbdbd345ddfdd8bc09dead0b5fd63c7ac813

[2020-01-29 10:44] #9 closed

[2020-01-30 08:35] Drazair commented on #10
Hey @Crisesm, sorry for the very late response.

It doesn't look like you are doing anything wrong. Is it still not being marked on the map?

[2020-02-17 19:39] alexmohr opened #11 "Map is not loading"
The plugin is configured correctly and draws the locations on the map. Unfortunately the open street map layer remains empty as if the data from osm could not be fetched.

The dev console (firefox) does not show any errors.

![2020-02-17-203652_580x587_escrotum](https://user-images.githubusercontent.com/4541068/74682165-977a4000-51c5-11ea-8ae1-2c1f8361f1f0.png)

[2020-02-18 08:04] vimalgupta opened #12 "Data Point not plotting in the graph - InfluxCloud DB"
Hi,
I a trying this plug-in with grafana and using influx cloud DB database.

I am unable to see any data point s drawn.

can you please guide me how can I use it with influx cloud DB.

below is my output of the query.
,result,table,_time,_value,_field
,_result,0,2020-02-18T07:27:58.853339466Z,17.4632916,lat
,_result,0,2020-02-18T07:27:58.853864976Z,17.4632916,lat
,_result,0,2020-02-18T07:28:58.01

[2020-02-19 13:25] alexmohr commented on #11
Seemed to be a temporary problem works again without changing a thing. Sorry to bother you

[2020-02-19 13:25] #11 closed

[2020-02-22 06:42] ursweiss commented on #12
Hi,

I ran into the same problem and spent hours (literally...) to finally find out.

I use a single query like this:
`SELECT "time" AS "time_index", "latitude" AS "lat", "longitude" AS "lon" FROM "state" WHERE ("entity_id" = '<you entity_id>') AND $timeFilter GROUP BY time_index fill(null)`

**The most important thing is to set the "Format as" to "Table" and not "Time series", or it will never wo

[2020-02-26 15:14] jononi opened #13 "More than one trace on the same map"
I'm using InfluxDB to get the data.
Adding one query like this:
`SELECT mean("latitude") AS "lat", mean("longitude") AS "lon" FROM "track_rp"."location" WHERE ("device" = 'device-1') AND $timeFilter GROUP BY time($__interval) fill(none)`
works fine.
When I add a second query:
`SELECT mean("latitude") AS "lat", mean("longitude") AS "lon" FROM "track_rp"."location" WHERE ("device" = 'device-2') AND

[2020-04-01 08:50] mmicu opened #15 "Cannot read data from Elasticsearch"
Hi. I have the installed the version 1.2.4 of the plugin and I cannot visualize data in Grafana. My data looks like:

[code]

Do you have examples that I can check for Elasticsearch as data source?

[2020-04-27 18:55] victorUTF commented on #10
I have the same problem, I'm also using Postgres and the SQL was correct and I'm also using the same syntax as yours.

Any news?

[2020-04-28 07:39] Drazair commented on #13
Hey @jononi, there currently isn't a way to have multiple queries displayed on the map at the same time.

[2020-04-28 07:47] Drazair commented on #10
Hey @victorUTF, have you set the "Format as" to "Table" instead of the default "Time series"?
If you have can you see the data from the query in the browsers console log?

[2020-04-28 07:54] Drazair commented on #12
@vimalgupta, have your problem been fixed?

@ursweiss, I'll make it more clear in the readme

[2020-04-28 18:26] victorUTF commented on #10
The problem was probably the installation, uninstalling and installing again worked.
Anyway, thanks @Drazair

[2020-04-29 09:21] Drazair commented on #10
Okay good to hear, I'll close the issue then

[2020-04-29 09:21] #10 closed

[2020-04-29 10:15] Alcarin opened #16 "How to use re-center as starting position"
First of all this plugin is fantastic. I use Antpath to track ship route, I have a dashboard variable to switch between ship, and re-center function is working good, as I change ship the map is recentered correctly to show all route. But when I first load the dashboard, the map show me the configured starting position, but I can't know where the ship could be, so starting position is meaningless f

[2020-05-01 07:13] Drazair commented on #15
Hey @mmicu, we have only tested it against PostgreSQL / CrateDB, and I have no experience with Elasticsearch, so sadly I can't give you an example.

[2020-05-01 08:15] Drazair commented on #16
Hey @Alcarin, It should be using the automatically re-centering if it's on instead of the start position.
This seems to be a bug if the the data loads in before the map is done initializing.

[2020-07-20 12:33] Alkarex opened #18 "Add Grafana 7 compatibility"
At the moment, it does not look like this plugin works with Grafana 7
* https://grafana.com/docs/grafana/latest/guides/whats-new-in-v7-0/
* https://grafana.com/docs/grafana/latest/developers/plugins/legacy/

More precisely, might be related to *Removes variableSrv* https://github.com/grafana/grafana/pull/24779

When coming to this plug-in, it looks like it is failing at compile time
https://github

[2020-08-06 21:28] AustrofrioIoT opened #20 "Help usingo Node-Red+Postgresql"
Please can you give us an exapmple usingo postgres and Node-Red for an important Gob

[2020-08-12 07:01] viktak commented on #13
I would also like to have this feature in the future :)

[2020-08-17 12:55] viktak opened #21 "Hover over for details"
I was wondering if it is possible to configure the map in a way that when the mouse hovers over a track point, it shows the details (or at least the time stamp) of that point, like any other graph in Grafana does, i.e.:

![grafana-hover-over-example](https://user-images.githubusercontent.com/12509879/90398261-ca808c00-e0a1-11ea-9e60-6b12729e41e9.png)

If it is not possible, please take this as a f

[2020-08-18 17:32] viktak commented on #16
Just wanted to confirm - the same thing happens for me too. Otherwise, it's a great plugin!

[2020-08-30 10:11] shreyasisinha commented on #18
I am still facing the same issue. Has this been resolved yet?

[2020-08-30 18:52] Alkarex commented on #18
There is some work in progress. Hopefully by next week.

[2020-09-02 13:28] grootwitbaas opened #22 "Not Working"
I tried to install and use this plugin, but sadly if i select it from the menu i get the following error.
click on track map
![image](https://user-images.githubusercontent.com/664442/91989221-8db6c500-ed30-11ea-8ba9-31ce0837dc95.png)
then
![image](https://user-images.githubusercontent.com/664442/91988984-3dd7fe00-ed30-11ea-8217-50c460adfb59.png)

Grafana Version 7.1.5 (commit: 9893b8c53d, branch:

[2020-09-02 14:08] Alkarex commented on #22
See https://github.com/alexandrainst/alexandra-trackmap-panel/issues/18
New version in the pipeline :-)

[2020-09-02 14:08] #22 closed

[2020-09-10 07:34] martijnsanderse opened #23 "Unexpected error when running"
I've tried running the panel from docker on both macOS and Raspbian, like this:

docker run -p 3000:3000 --name grafana -e "GF_INSTALL_PLUGINS=alexandra-trackmap-panel" grafana/grafana

This currently runs grafana 7.1.5.

In both OS-es the panel installs just fine (it's available in the visualisation tab) but when I select it I get the error below. I'm fairly new to Grafana, what can I do to troub

[2020-09-10 07:36] martijnsanderse commented on #23
I'm sorry, I now see that this is a double (https://github.com/alexandrainst/alexandra-trackmap-panel/issues/18)

[2020-09-10 07:36] #23 closed

[2020-09-10 11:20] viktak commented on #21
While at it :) can I also ask for a possibility of a small (custom) icon/image to be shown at the last point?

Imagine a live tracklog, where one can see, say, the last 24 hours, and the current position. At the moment it is not easy to see / not obvious which one the current position.

Thank you!!

[2020-09-24 11:37] shreyasisinha commented on #18
What is the expected date of getting this issue fixed?

[2020-09-24 12:19] Alkarex commented on #18
We have a new version about to be released. However, this new version will most likely drop support for Grafana 6 and older...

[2020-09-25 13:36] Alkarex commented on #18
@shreyasisinha Would you be able to test this release candidate? https://github.com/alexandrainst/alexandra-trackmap-panel/pull/24

[2020-09-25 13:36] Alkarex commented on #22
@grootwitbaas Would you be able to test this release candidate? https://github.com/alexandrainst/alexandra-trackmap-panel/pull/24

[2020-09-25 13:36] Alkarex commented on #23
@martijnsanderse Would you be able to test this release candidate? https://github.com/alexandrainst/alexandra-trackmap-panel/pull/24

[2020-09-28 07:32] alchuk commented on #18
@Alkarex I would like to test your RC against Grafana 7.2.0. How do I do it?

[2020-09-28 07:36] Alkarex commented on #18
@alchuk You can for instance download the RC from https://github.com/alexandrainst/alexandra-trackmap-panel/archive/%2318_add_grafana_7_compatibility.zip and use it to replace the old version (after doing a backup).
See https://grafana.com/docs/grafana/latest/plugins/installation/

[2020-09-28 07:56] Alkarex commented on #18
@alchuk We might have found an issue. Another of my colleagues is testing at the moment

[2020-09-28 08:23] alchuk commented on #18
@Alkarex At least it stopped from crashing right after changing the visualisation type to TrackMap. I need to tune my backend as I have never used your plugin before. Will get back right away.

[2020-09-28 09:11] j-or commented on #18
@alchuk You can put the entire plugin in the grafana/data/plugins folder and run _yarn install_ and _yarn dev_ (see readme) - or if it's easier, just place the _dist_ folder in grafana/data/plugins without any need for yarn. That should work too. Note: I just updated the RC branch.
![install_track_map](https://user-images.githubusercontent.com/36296721/94413361-43800280-017b-11eb-9382-d38874790604

[2020-09-28 09:36] alchuk commented on #18
It doesn't seem to work for me. I'm using InfluxDB as a backend.
The following query gives 't is null' under the red error triangle:
_SELECT median("lat") AS latitude, median("long") AS longitude FROM "Latlong" WHERE ("DID" = '117593705') AND time >= now() - 24h GROUP BY time(5m) fill(null)_
The query itself gives a decent looking array of data. Is Influx supported by your product?

[2020-09-28 09:50] j-or commented on #18
Is the query in Grafana formatted as "Table"?

[2020-09-28 09:52] alchuk commented on #18
Yes

[2020-09-28 12:30] ZhongyuWang commented on #18
I have tried with Influx with no problem. Could you please try fill(0) instead?

[2020-09-28 13:58] alchuk commented on #18
Yeah. Thanks. Finally it helped me to get it working.  Seems to be a bug.
By the way, "fill(none)" is what I've chosen to use as Influx always returns empty values for the first array entry no matter how deep I look back in time. As for fill(0), it gives a wrong starting point for the track (zero lat/zero lon).

Now there's another problem:
What could be wrong with Hexbin if it throws an exception

[2020-09-28 14:19] alchuk commented on #13
+1
And not only multiple tracks but also some annotations next to the last pont in track so that moving vehicles could distinct from each other

[2020-09-29 12:36] grootwitbaas commented on #18
testing this seems there is some offset on the long
Map below is centred near the location.
on error i see some small red triangle with some message, and to clear this i have to deselect tracmap in visulaisation and reselect it.
small extract from data in table:

[code]

![image](https://user-images.githubusercontent.com/664442/94558940-d2b31600-0260-11eb-88fe-ee4e45c48756.png)
Greetings from Germ

[2020-09-29 13:08] grootwitbaas commented on #18
Sorry correcting the mallformated table
`

Time | lat | lon
-- | -- | --
26/09/2020 12:06 | 41.135 | 9.536
26/09/2020 12:11 | 41.135 | 9.536
26/09/2020 12:16 | 41.135 | 9.536
26/09/2020 12:21 | 41.135 | 9.536
26/09/2020 12:26 | 41.135 | 9.536
26/09/2020 12:31 | 41.135 | 9.536
26/09/2020 12:36 | 41.135 | 9.536
26/09/2020 12:41 | 41.135 | 9.536
26/09/2020 12:46 | 41.135 | 9.536

`

[2020-09-29 14:10] ZhongyuWang commented on #18
Could you please confirm whether the center position is wrong. I check with Google Maps and it seems to be the same place as the center in your image.

<img width="1266" alt="Capture" src="https://user-images.githubusercontent.com/15715503/94569566-24ae6880-026e-11eb-9610-f4a53d64080a.PNG">

[2020-09-29 14:34] grootwitbaas commented on #18
yes this is the problem the cntre of map is where the location should be ploted, but it is far to the left like you can see. google maps shows corectly. I set the centre of map so as to see where it should plot.

[2020-09-29 14:45] j-or commented on #18
@grootwitbaas Have you tried switching visualisation type to _Markers_ and clicking on a marker? That way, you can see what coordinates the data points are given on the map.

[2020-09-29 17:16] grootwitbaas commented on #18
so seems my b point is not taken, it shows 0
my 2 queries:
`A: SELECT mean("value") AS "lat" FROM "GPS" WHERE ("metric" = 'Lat' AND "name" =~ /^somename$/) AND time >= now() - 2d GROUP BY time(5m) fill(none).
B: SELECT mean("value") AS "lon" FROM "GPS" WHERE ("metric" = 'Long' AND "name" =~ /^somename$/) AND time >= now() - 2d GROUP BY time(5m) fill(none)`

`response:Object
results:Array[2]
0:Obje

[2020-10-10 07:33] petersohn opened #25 "Unexpected error when trying to create panel"
I installed the plugin to Grafana 7.2.1. When I tried creating a panel in Firefox 81.0.1, I  get the following error message:

[code]

There are two error messages on the browser console:

[code]

[code]

It doesn't work on Chrome 86.0 either, but with a different error message:

[code]

[code]

[2020-10-10 09:50] Alkarex commented on #25
Duplicate of https://github.com/alexandrainst/alexandra-trackmap-panel/issues/18
Please try our release candidate https://github.com/alexandrainst/alexandra-trackmap-panel/pull/24
Tests feedback welcome

[2020-10-10 09:50] #25 closed

[2020-10-10 14:29] petersohn commented on #25
I tried building the plugin from the branch, but `npm install` failed. Apparently it failed to install `path-type`. Here is the log file:

[npm-debug.log](https://github.com/alexandrainst/alexandra-trackmap-panel/files/5359180/npm-debug.log)

[2020-10-13 09:13] j-or commented on #25
Looks like an error with npm. Log file says "This is an error with npm itself." Maybe this https://github.com/npm/cli/issues/681

[2020-10-20 14:39] #18 closed

[2020-10-22 15:52] jsBlackBelt opened #26 "Not working for grafana 7.x.x"
I updated grafana to 7.x.x, plugin stopped working

[2020-10-22 19:00] Alkarex commented on #26
Duplicate https://github.com/alexandrainst/alexandra-trackmap-panel/pull/24

[2020-10-22 19:00] #26 closed

[2020-10-31 11:14] CodeFunta commented on #16
Hey @Alcarin ,
JFYI: I've pushed several PRs including centering on first position.

[2020-11-01 06:56] viktak commented on #16
@CodeFunta Awesome, thank you! Can't wait to see it live!

[2020-11-01 14:16] xkilian commented on #21
This is an especially important feature for any vehicule tracking that crosses back on its original path. (ex. car, bus, taxi, ferry type circuits)

[2020-11-01 14:16] bijwaard opened #31 "Intensity hard to get working with TestData DB"
Dear developers,

The TrackMap plugin seems to work great for visualisation of location paths in grafana 7.2.0.

I have basic points working with simple test-data, but have some trouble seeing individual points (green in options) and their intensity, I hope you guide me in the right direction to get this working. I have entered two points with latitude and longitude as well as 2 intensity values.

[2020-11-01 15:46] bijwaard commented on #13
Enabling multiple paths would also enable drawing more static paths, such as walking trails, connections between smartgrid substations, etc.
- Having both static and dynamic maps would enable showing deviations between them, e.g. deviation from the walking trail;-)
- Having the smartgrid paths may enable me to show the actual power as intensity on the lines (connections) and/or points (substations

[2020-11-02 06:51] alchuk commented on #16
You know, guys, there's always room for improvement. The automatic re-centering works as a charm. But it's not that convenient without automatic zoom on the track boundaries. I'm sure you can implement this feature (: Please

[2020-11-06 15:34] viktak commented on #12
Hi,
I'm also having difficulties with this. Even editing is difficult, as

1. If I edit the old queries (that worked with Grafana 6.x) I get an error page, with no option to go back and edit further - I have to restart.

[2020-11-06 15:35] Alkarex commented on #12
@viktak Is that with our [latest release 2.1.0](https://github.com/alexandrainst/alexandra-trackmap-panel/releases/tag/2.1.0) ?

[2020-11-06 15:40] viktak commented on #12
@Alkarex

Thanks for asking. I just checked and I see version 1.2.5.... I just assumed that the latest one got pulled as I just upgraded Grafana too to 7.3.1. Using Docker.

Is the official one in the Grafana Plugin list still the old one? Should I install it directly from git?

[2020-11-06 15:41] viktak commented on #12
@Alkarex And kudos to you for the super fast reply! 👍

[2020-11-06 15:43] Alkarex commented on #12
Our branch 1.x is for Grafana 6, while our branch 2.x is for Grafana 7+.
Our new branch 2.x is currently under review https://github.com/grafana/grafana-plugin-repository/pull/766 (you can give it a 👍) so for now you have to pull our release manually.

[2020-11-06 15:52] viktak commented on #12
Is this the correct link?
https://github.com/alexandrainst/alexandra-trackmap-panel/archive/2.1.0.zip

Your link gives me a version of 2.0.0 (although the title says 2.1.0)

I installed 2.1.0 and so far it doesn't show the error page as before, but I still have to figure out how to get my maps back :)

I expect to figure it out in a few minutes, and then I'll report back!

[2020-11-06 15:55] Alkarex commented on #12
Yes, that is correct

[2020-11-06 16:16] viktak commented on #12
Can't seem to make it work...
This is my query (stolen/adapted from @ursweiss ):
`SELECT "time" AS "time_index", "latitude" AS "lat", "longitude" AS "lon" FROM "autogen"."device_tracker.XXX_galaxya5" WHERE ("entity_id" = 'XXX_galaxya5') AND $timeFilter GROUP BY time_index fill(null)`
I set Format as Table.

when the query runs with Table visualization, it displays the timestamps and coordinates, a

[2020-11-06 16:42] viktak commented on #12
I got it working, thank you for the help!
Here comes the proof:
![vtracker-sample-log-on-map](https://user-images.githubusercontent.com/12509879/98391572-b91aa080-204e-11eb-94ba-966dfa54d0b6.png)

I have noticed though, that now the map can center on the first or the last point (which is great), but I cannot make the map center/zoom on the "action". In the previous version, by default, it zoomed j

[2020-11-06 19:07] viktak commented on #12
While we are at it:
The documentation says this:
`To add text tooltips to the markers, a text ordesc field should be added. If no tooltip exists in the data, latitude and longitude are displayed as the tooltip.`
I tried it, and I can display a number of things, but not the timestamp. After some research I seem to think that selecting the Time field in InfluxDB is not possible. Is there any workaro

[2020-11-08 08:36] viktak commented on #12
Also, some kind of formatting would be essential: What I mean is, now I can display a number, say the speed, in the tooltip, but only as it is, a number. I would like to display it as xx km/h, rather than just XX.

Maybe I just haven't figured it out?

In Grafana I tried using transformations, but I couldn't get it to convert the speed value to string and then concatenate it with the unit.
Any ide

[2020-11-09 16:53] KejaPower commented on #31
hello,
I have the same issue, I can't get the heatmap working( all other representation are working well). Is there a format a range to be followed?
I'm using InfluxDB and my query looks like this :
SELECT "longitude","latitude" , "rssi" as "intensity" from "Tracker"
Format as a table.
My RSSI values are negative.
Thanks
Kind regards,
Nicolas

[2020-11-10 06:58] ZhongyuWang commented on #31
Hi,

Could you please try heatmap to see whether you could get the intensity visualized?

Here is an example I made:
![Capture](https://user-images.githubusercontent.com/15715503/98640347-5e24ca00-232a-11eb-8bd6-f9216fda46e0.PNG)

[2020-11-10 06:59] ZhongyuWang commented on #31
Hi,

The intensity has to be positive. You might need a minus sign before your "rssi".

[2020-11-10 09:03] KejaPower commented on #31
Hello,

Thanks, it works once I've modified my rssi to be positive.
Kind regards,
Nicolas

[2020-11-10 09:08] bijwaard commented on #31
Hi ZhongyuWang,
I still don't get the intensity working with the TestData DB, is this because it needs to be a table or needs more than 2 values?
Also the points don't get visualized in the specified color, only the line between them.
Furthermore, it is unclear to me how to activate the heatmap, I don't see configuration items for that.
![image](https://user-images.githubusercontent.com/6523124/98

[2020-11-10 09:33] j-or commented on #31
@bijwaard Are you sure this is our plugin? The options look very different. Are you maybe using this one? https://grafana.com/grafana/plugins/pr0ps-trackmap-panel

[2020-11-10 09:40] bijwaard commented on #31
I used the following to install the plugin in grafana 7.3.1, re-install didn't have effect:

sudo grafana-cli plugins install pr0ps-trackmap-panel

Here is the visualisation part of the options
![image](https://user-images.githubusercontent.com/6523124/98656580-1eb5a800-2341-11eb-9740-d30991edf47f.png)

[2020-11-10 10:05] j-or commented on #31
@bijwaard You are using a different plugin with a very similar name to ours. This site is _alexandra-trackmap-panel_ - you are using _pr0ps-trackmap-panel_.

Feel free to try ours though. It has GPS-markers, paths and heatmap visualisations. The newest version working with Grafana 7 is still pending merge to the Grafana plugin repo https://github.com/grafana/grafana-plugin-repository/pull/766 but

[2020-11-10 10:16] #31 closed

[2020-11-10 10:57] bijwaard commented on #31
Hi,
Thanks!
It is indeed very confusing that they have the same name, I'll try yours when it is merged with the plugin repo

Kind regards,
Dennis

[2020-11-10 12:43] bijwaard commented on #31
I couldn't wait;-) And dived into yarn / nodeJS install.
This works great!!!

This trackmap is working, both with markers and with intensity.
![image](https://user-images.githubusercontent.com/6523124/98675201-36e5f100-235a-11eb-8ef4-b0ffcd6cd677.png)
![image](https://user-images.githubusercontent.com/6523124/98675532-aeb41b80-235a-11eb-8716-59c9cdcdd42d.png)

[2020-11-10 14:44] bijwaard commented on #21
At the moment I can see the lat/long coordinates in the tooltip, great! So there is already something showing up while hoovering;-)

Would it is possible to add a label to the tooltip. I now changed the icons to have an embedded label but that only works for two icons... It would be great if this label/id can be dynamically set from the metrics, e.g. by using the identity_id metric alias below.
![

[2020-11-12 08:39] Alkarex commented on #20
For Node-RED, see e.g. https://flows.nodered.org/flow/687918dd5cb66a3bfc2a661e15ef4237
For examples with this map, see the readme.

[2020-11-12 08:39] #20 closed

[2020-11-17 10:23] Alkarex commented on #16
@alchuk Could you please try https://github.com/alexandrainst/alexandra-trackmap-panel/pull/37 ?

[2020-11-17 10:46] #16 closed

[2020-11-17 10:52] j-or commented on #12
@viktak FYI I've just added zooming in on the "action" (i.e. setting the map to fit all the positions on load) with #37. Try it by enabling "Zoom map to fit data bounds".

[2020-11-18 09:00] DmitrySidorow opened #38 "Dark theme"
Missing a dark theme (or satellite) like in the original world map plugin

![Screenshot_3](https://user-images.githubusercontent.com/43705385/99508551-c6605500-2995-11eb-8aae-e35e91598011.png)

[2020-11-18 09:40] DmitrySidorow opened #39 "Handling clicks on the marker"
It would be great if you could switch to other dashboards when you click on the marker. With support for field variables in the url.

[2020-11-19 09:01] j-or commented on #21
@viktak @bijwaard

For highlighting the last position, check out the _Use secondary icon for last marker_ option that was added recently.

For labels/tooltips, try #40 that I just pushed. It adds a mouseover tooltip/label to each marker using the _tooltip_ field from the query. It also has the option to _Always show tooltips_  if you want the tooltips to stay open, instead of only showing them on

[2020-11-19 09:44] #21 closed

[2020-11-19 10:09] bijwaard commented on #21
Thanks very much, this appears to work beautifully!!
![image](https://user-images.githubusercontent.com/6523124/99652036-9bd6d080-2a57-11eb-99bd-c201a064fc88.png)

[2020-11-19 10:12] bijwaard commented on #39
Having links per marker would indeed be very handy. You could have a look at the [flowcharting plugin](https://github.com/algenty/grafana-flowcharting) that has this working via mapping rules.

[2020-11-19 11:53] DmitrySidorow commented on #39
great implementaion in https://github.com/panodata/grafana-map-panel

[2020-11-19 12:13] bijwaard commented on #39
Wow, how many map panels are there? The grafana-map-panel looks a lot like the worldmap panel, or is it the same? I didn't get it to work with the testdata db.

[2020-11-19 13:17] viktak commented on #21
Great updates, thank you guys!
I was wondering, if there is a way to include the timestamp in the tooltip?

[2020-11-21 16:42] amotl commented on #39
Dear Dennis,

at first, I would like to salute @Drazair, @j-or, @CodeFunta and @Alkarex for their excellent work on the Alexandra Trackmap Panel.

It is a fork of the original Worldmap Panel by @daniellee and contributors, but we tried to improve it on many ends by a) collecting further contributions from the community and b) adding some things from our own pen. Saying this, we still try to keep u

[2020-11-21 18:13] bijwaard commented on #39
Dear Andreas,

In retrospect not so strange that the different map panels look alike, thanks for the history lesson and links;-)

I really like the marker visualisation that we can customize in the Alexandra fork, with hyperlinks on the markers they become even more valuable.

A further suggestion is to make some of the options (like visualisation type) changable via grafana template variables, so

[2020-11-25 08:03] rudibroekhuizen opened #41 "Tooltip size"
I am using the trackmap panel in a dashboard to explore a [GBIF dataset](https://www.gbif.org/dataset/889c91a3-614f-4355-8df8-b6d0260a118c). Using the following query I can zoom in to streetlevel, and show the number of records in the tooltip for each cluster.

[code]

[2020-11-25 14:00] j-or commented on #39
@amotl Thanks, both for the kind words and for adding info.
@bijwaard Just to clarify, alexandra-trackmap-panel (this repo) is not a fork but a different plugin built from scratch. So just to clear up any confusion (hopefully 😉 ), an overview of the various map plugins mentioned here and in other issues now looks something like this:

https://github.com/grafana/worldmap-panel: Original map plugin

[2020-11-25 16:54] amotl commented on #39
Dear Jack,

thanks for clarifying. I haven't been aware that this might have confused people. Do you believe I should also make it more clear at https://github.com/panodata/grafana-map-panel/issues/20#issuecomment-573387329?

With kind regards,
Andreas.

[2020-12-02 11:32] raul-parada commented on #18
I still get the error `An unexpected error happened TypeError: this.events is undefined`  I've installed the plugin through terminal

[2020-12-22 15:54] Alkarex commented on #18
@raul-parada Which exact version have you installed?

[2021-01-25 23:56] xkilian opened #42 "Plugin crashes when only lat or long is received"
2 timeseries metrics, latitude and longitude, are queried from Prometheus. Data is returned, but we currently have a quality problem with a source of data that is feeding Prometheus which causes missing values of either lat or lon. Switching the display from track map to graph made it easy to validate the quality problem.
Setting manual values works.
Selecting a timeframe that does not have any in

[2021-01-26 00:21] xkilian opened #43 "Tracking position on map from other panels"
Use-case: Select a time frame like last 30 minutes
1 Panel with ant-path and markers.
1 Panel showing a metric as a graph
Select the shared crosshair option in Grafana global options for the panel.

Hover over the graph.
Trackmap should highlight the marker for the given timestamp using the alternate colour(if markers are displayed). If ant-path is selected display a marker at the position of time

[2021-01-27 08:54] MalteP commented on #42
The plugin also crashes in my case where lat and lon data is missing on some data points, screenshots attached. I am using InfluxDB as source.

![grafana1](https://user-images.githubusercontent.com/7578587/105966305-c1e6a580-6084-11eb-8961-388dfa818ab5.png)
![grafana2](https://user-images.githubusercontent.com/7578587/105966308-c27f3c00-6084-11eb-922a-23095fd60dc4.png)

[2021-01-28 22:25] xkilian commented on #42
I would also suggestion filtering metrics when the value is 0,0 or inconsistent (only lat or lon). As this will avoid having ant-paths that want to go off towrds Africa when a GPS module has no signal and returns 0,0.

[2021-01-29 05:06] xkilian opened #44 "Ant-Path is not chronologically connected"
The path jumps around when a vehicule is in proximity of its own path.
When the vehicule is on a linear or near linear path it looks ok.

![image](https://user-images.githubusercontent.com/1302719/106233962-b9e24f00-61c5-11eb-88db-5b85e30ccda6.png)

Am I missing a configuration item to get it to work properly?

[2021-01-29 17:02] anirudh-ramesh commented on #44
@xkilian, could you check if your query is ordered by time asc/desc either? This behaviour has been observed when not ordered by time, and eliminating that could be one step towards reproducing this.

[2021-01-29 17:48] xkilian commented on #44
This is data coming from a loki event stream which is converted to a table using a Grafana Transform. I have not see any indication that this data could sequence other than newest to oldest. I will look around in Grafana to see.

[2021-01-29 18:10] anirudh-ramesh commented on #44
Yeah, I think it's worth a relook at Grafana because when I saw your screenshot, it pretty clearly looks to me like the ant path is an `ORDER BY longitude DESC` (or `ORDER BY latitude DESC` if the map is rotated by any means, or `ASC` in either if the ant path is moving up instead of down) or its equivalent in Loki.

[2021-01-29 18:13] xkilian commented on #44
That sounds plausible. I have no clue how to get it re-ordered by time, so any suggestions are welcome.

[2021-01-29 18:38] xkilian commented on #44
Ok, inspecting the data in the panel, shows that it is indeed ordered by latitude or longitude and not by time. I still have not figured out how to change it.. Suggestions welcome.
![image](https://user-images.githubusercontent.com/1302719/106314058-2f3a3800-6237-11eb-9033-1b7352f9cf0f.png)

[2021-01-29 20:41] xkilian commented on #44
I think we can close this issue as it is unrelated to TrackMap. Thank you,

[2021-01-29 20:41] #44 closed

[2021-01-31 16:00] xkilian commented on #44
The origin of this issue has been acknowledged in Loki by the maintainers. If using using Loki and Labels to Fields Grafana feature the output cannot be used in the TrackMap plugin as the data is not strictly ordered by time. AS of writing this will not work in Grafana 7.3.5 and Loki 2.1.

[2021-02-02 21:26] xkilian commented on #42
Is there any timeline when this issue will be looked at?

[2021-02-04 04:35] bvilnis commented on #43
+1 on this.

I'm wanting to record dust levels from vehicles on dirt roads. While I can currently hover over the markers having `dust` set as `tooltip`, it would be much more user friendly to be able to hover over my dust level line graph and have the respective markers or path highlighted on the map. Or even better, the ability to change marker/line color based on parameters from another value (i

[2021-02-04 08:48] Alkarex commented on #43
We are a bit busy at the moment, but pull requests welcome!

[2021-02-04 08:48] Alkarex commented on #42
We are a bit busy at the moment, but pull request welcome!

[2021-02-04 14:33] xkilian commented on #42
I will see if I can get someone to fix it. Will let you know.

[2021-02-11 23:12] amotl commented on #8
Hi there,

this issue has just been reported at https://github.com/pR0Ps/grafana-trackmap-panel/issues/48 by @DBREngineer. He quickly provided a patch through https://github.com/pR0Ps/grafana-trackmap-panel/pull/49.

With kind regards,
Andreas.

[2021-02-16 01:05] sebastien-coavoux commented on #42
Hi there,

I took time to take a look at it and I can share my finding. The crash occurs in leaflet lib and there is no way (as far as I can tell) that we simply try / catch this.  The 3 options I can see here are :

* Make the error more user friendly, saying that one of the latitude / longitude is null (and provide the timestamp of the data ?). The crash is still here but at least it is transpar

[2021-02-16 01:24] xkilian commented on #42
Here is my 2 cents:

I believe this should be option 2. The user can easily validate data using graph+data inspector if there is missing data.
Option 3 is not necessary as it should be filtered by default.

The code should also drop 0,0 coordinates as these are invalid coordinates. These can also be dropped silently. I do not see how 0,0 can be valid, even for someone who lives near those coordina

[2021-02-16 09:54] MalteP commented on #42
I guess option 3 is the most intuitive way. If you "normalize" null values to 0, data points will at least show up somewhere without crashing Leaflet and the user can fix them. If this is expected, the user could activate the "discard position on null coordinates" option to drop invalid data.

But as a short term fix option 2 would be okay, too.

[2021-02-16 10:15] Alkarex commented on #8
We are a bit busy at the moment, but pull request welcome!

[2021-02-16 14:14] xkilian commented on #42
Converting NULLs to Zero, seems like something that would cause more misdirection. Would informing the users fact that the plugin will drop NULL or (0,0) data in the documentation  be sufficient along with an explanation on how to validate data using table or graph. Adding more options to the plugin that should be enabled by default seems not necessary.

[2021-02-18 13:36] sebastien-coavoux commented on #42
@ZhongyuWang @Alkarex Any hot take ?

[2021-03-02 14:46] xkilian commented on #42
Thank you Sebastien for the fix. @Alkarex let us know if this is ok or if you need any changes.

[2021-03-02 17:33] #42 closed

[2021-03-02 17:34] Alkarex commented on #42
Thanks @sebastien-coavoux for the fix, and others for the sparing 👍🏻

[2021-03-02 19:30] #12 closed

[2021-03-03 15:38] viktak commented on #12
@Alkarex Thank you for the update!
Where do I find that `Zoom map to fit data bounds` option? I just upgraded my plugin to 2.2.0, but I can't seem to find it...

[2021-03-03 15:40] viktak commented on #12
@Alkarex  Never mind, I found it. I just didn't see it because another one was active.
Thanks  again it's a great plugin!!

[2021-03-05 08:30] viktak opened #47 "InfluxDB 2.0 (Flux)"
Still loving this plugin! :)

I just migrated my setup to InfluxDB 2.0, which is using Flux as the query language. I am completely new to this, and was wondering if you have an example query (for this plugin) I could use as a starting point.

thank you

[2021-03-05 08:36] Alkarex commented on #47
No sorry, this is not something we have used (yet) :-)
We are mostly using PostgreSQL + Timescale + PostGIS at the moment

[2021-03-05 08:43] viktak commented on #47
ok, no problem, I'll figure it out and will leave a sample here for others to see. If you could leave this open and maybe assign it to me...?
thanks!

[2021-03-08 04:51] whileoneloop opened #48 "2.2.0 build fails, 2.1.0 works"
Getting an error during build of 2.2.0.

Commands used:

[code]

Tried with node@12, node@14, node@15, getting the same error for latest master (2.2.0).  The workaround for now is to build 2.1.0 instead.

[code]

[2021-03-08 10:33] viktak commented on #47
I have figured it out over the week-end. In fact I found multiple ways of doing it. This one is the most concise one, that works:

[code]

The only problem with it is that in the tooltip (hover over) it shows the time in epoch format. Is there a way to format it to a more civilized way? :)
Once I can figure it out (someone please help!), I will update it here so that you can perhaps add it to the

[2021-03-08 10:44] Alkarex commented on #48
Thanks for the bug report. I can see there is an old `yarn.lock` lying there. Could you please try to remove it, and/or try with `npm run-script build` ?

[2021-03-08 10:57] viktak commented on #47
It seems to me that the time formatting comes from this plugin: when I change the visualization to a simple `table`, the `tooltip` column displays time the way I would like it to do it, i.e. `2021-03-07 10:51:56`. The moment I change visualization to `Track Map` the tooltip shows epoch format, like this:
![Screenshot 2021-03-08 125601](https://user-images.githubusercontent.com/12509879/110312414-f

[2021-03-08 11:03] viktak commented on #47
One more observation:
When I want to display the timestamp in the `popup` field, it works, well, kind of. the same column redirected to the `popup` field displays like this:
![Screenshot 2021-03-08 130212](https://user-images.githubusercontent.com/12509879/110313015-c6946700-7ffd-11eb-88e2-5edd9ad77eb7.png)

This is still not nice, but definitely more readable than the epoch format.

Ideally, I wo

[2021-03-08 11:17] Alkarex commented on #48
P.S. Could you please give a try to https://github.com/alexandrainst/alexandra-trackmap-panel/pull/49 ?

[2021-03-08 23:18] whileoneloop commented on #48
Tried on master by removing yarn.lock and it works.  Yep, it is fixed by #49 .

[2021-03-09 07:27] #48 closed

[2021-03-09 07:30] Alkarex commented on #48
New release https://github.com/alexandrainst/alexandra-trackmap-panel/releases/tag/v2.2.1

[2021-03-11 00:20] wstarzak opened #50 "Track Map does not appear in Grafana 7.4.2"
As the tittle says, can we get the compatibility with the newest version?

[2021-03-11 11:23] wstarzak commented on #50
indeed, i have used 2.2.1 and then tried also master. I got back to Grafana 7.0.4 and it works.

[2021-03-16 07:56] mmichelli commented on #50
I had the same issue, module.js is not loading.
A hack is to renamed it to be "module".

[2021-03-19 16:09] steve-burke opened #52 "Display time in popup/tooltip"
I've been trying to display the date/time in either the popup or the tooltip associated with a marker in a display based on influx data.  I can achieve this by for example by adding the "time" field and giving it the alias "popup", but this just shows a Unix timestamp.

With a table visualisation, I can produce data including a timestamp in a readable format either by (a) using a unit Override, or

[2021-03-23 15:20] ahmedsherpiny opened #53 "Changing marker icon"
Hi

I am using version 2.2.1 (from master) and i a trying to change the marker icon for Antpath with markers' visualization type

I replace marker.png in both src/img (as stated in the documentation) ans dist/img but the marker icon stays the sme

Could you please check it?

[2021-03-24 09:20] ZhongyuWang commented on #50
@wstarzak Could you please elaborate your issue a bit more. I have deployed an empty Grafana 7.4.2 docker image with the Track map v2.2.1 successfully. Could you please guide me how to reproduce your issue.

[2021-04-04 19:09] tpachmann commented on #38
Hi guys,

first of all thank you for the great plugin!

For my personal usecase, I wanted to use a dark/satellite style for the map - so I added a configuration option to set the URL for the map tiles that are loaded from the map.

This allows you to use the Mapbox Static Tile API for example - but also other, publicly available tile servers can be used this way:

![map-tiles-config](https://user-

[2021-04-04 19:18] Alkarex commented on #38
@tpachmann Thanks for reaching out, that looks good. Permissions should not be a problem if using the normal procedure: first fork the project (top right button in GitHub - it will then appear in https://github.com/tpachmann?tab=repositories ), then push your feature branch in your own repository, then send us a pull request, which we will test and merge. If you already have your local branch but

[2021-04-04 20:11] tpachmann commented on #53
Hi @ahmedsherpiny!

I've wondered about this myself - the images stay the same, because they are compiled into the JS bundle.

So to change the markers you have to rebuild the plugin (as explained under "Development" in the README.md):
[code]

Maybe I will add a feature to configure the markers directly in Grafana soon..

Best regards!
Tim

[2021-04-14 07:48] #38 closed

[2021-04-23 07:48] SydoxX opened #56 "Transformed query won't display path"
Hello,

I'm currently trying to display a path queried via [GraphQL](https://grafana.com/grafana/plugins/fifemon-graphql-datasource/). Unfortunately the data source does not allow to rename columns and only returns PostGIS coordinates as an object which are then flattened.

---
Query
![image](https://user-images.githubusercontent.com/6787349/115835377-7ab74900-a416-11eb-8799-7b0b22c1c958.png)

---

[2021-04-30 11:18] yotastefan opened #58 "Trackmap not working on Grafana 7.5.5"
I have installed your cool Trackmap plugin successfully on Grafana cloud 7.5.5 and also local installation, but when I try to crate a panel I receive the error:

<TypeError: undefined is not an object (evaluating 'this.events.emit')>

Support from Grafana means: "It seems the alexandra-trackmap-panel plugin isn't compatible with the latest version of Grafana."

Can you please advise?

[2021-05-03 09:30] Alkarex commented on #58
Hello,
Can you please confirm that you are using our latest version, i.e. 2.2.1 at the moment? https://github.com/alexandrainst/alexandra-trackmap-panel/releases/tag/v2.2.1

[2021-05-03 09:33] #56 closed

[2021-05-03 09:33] yotastefan commented on #58
Hi

Yes, I confirm that I tried the latest version 2.2.1 (just downloaded). It does not work, neither on Grafana cloud nor on local installation.

Best regards
Stefan

[2021-05-03 11:00] ZhongyuWang commented on #58
Hi @yotastefan

Could you please elaborate your issue a bit more. I have deployed grafana in docker and the plugin works fine.
![grafana-trackmap](https://user-images.githubusercontent.com/15715503/116868693-858c8d80-ac0f-11eb-92f8-e6ce04920cf5.PNG)

Best regards,
Zhongyu

[2021-05-03 11:20] yotastefan commented on #58
I have checked again and I thought the version was correct - I used the normal install procedure on Grafana cloud. But it shows:

Can it be that there is a wrong link for installation?

I don’t know how to have other installation method. Any idea?

[2021-05-03 12:01] ZhongyuWang commented on #58
I just use the release here: https://github.com/alexandrainst/alexandra-trackmap-panel/releases/tag/v2.2.1

Extract the file and put the folder under the /plugins. It should work after restarting the grafana service.

[2021-05-03 13:24] yotastefan commented on #58
Thanks for your info - I now re-installed this version and it works (the error is gone and map displays)!!! Great!!

Question: do you have an example for an Influx query? I have just some fields (3 values) to display, plus ‚lon‘ and ‚lat‘ information.

Thanks again for your help (just missing the GRAFANA setup, not sure if I can install this version). Maybe you ask their support to install and mak

[2021-05-03 19:01] ZhongyuWang commented on #58
An influx query could be:
SELECT mean("longitude") AS "longitude", mean("latitude") AS "latitude", count(*) AS "value" FROM "db"."autogen"."table" WHERE $timeFilter GROUP BY time(10m), "id" fill(0);

[2021-05-04 21:50] yotastefan commented on #58
Thanks for your help, but I am still struggling to get a marker shown in map. My query to INFLUX (database is „snap_data") is:

SELECT mean(„lat“) AS „latitude“, mean(„lon“) AS „longitude“, mean („RSSI“) as „intensity“ from „autogen“.“snap_data“ WHERE time>= now() - 6h GROUP BY time(5s) fill(null)

The result is a marker shown below in Africa where LON=0 and LAT=0. If I inspect the data from the q

[2021-05-08 00:44] ElBalsero opened #59 ""Zoom map to fit data bounds" option not zooming"
Hi,
I have the last version of the plugin (just downloaded) running on Grafana 7.5.5.
When I center in the first point, it zooms there according to the zoom parameters. Same for the last point.
However, when using the option "Zoom map to fit data bounds", the map remains zoomed over a place in Denmark.
I would expect the map to zoom around the area where there are points. Isn't that what should ha

[2021-05-17 19:48] pbhetwal opened #60 "Is it possible to have more than one "popup/text/desc" field?"
I am trying to display more than one popup per lat, long point.

[2021-06-03 06:54] harry221985 opened #61 "Cannot read data on TrackMap-panel-Grafana using Amazon timestream as the datasource"
Hi, I have the installed the version 2.1.2 of the plugin and I cannot visualize data on Grafana 7.4.1. My data looks like:

SELECT
	DeviceId,
	CREATE_TIME_SERIES(time, measure_value::double) AS "*"
FROM "my_DB"."my_Table"
WHERE $__timeFilter
	AND measure_name = 'latitude'
	AND measure_name = 'longitude'
GROUP BY DeviceId

Do you have an example/format/setting I can use? Thanks anyone

[2021-06-08 15:19] bijwaard opened #62 "Markers showing up with longitude=0"
Dear developers,
I just upgraded your plugin from githup, re-installed and re-build with npm, and restarted grafana (v7.5.7 on Ubuntu 20.04.2), I am still using the TestData DB plugin for the metrics. For some reason the longitude is now always 0, I get an error about null longitude in 1970 but it is there in the inspect panel with valid timestamp (see below). The map positioned itself in the corr

[2021-06-11 09:50] N3v3R3nD opened #63 "Show possition in time from other panel?"
Is it possible to place a dot on the map at the current time as you mouse over other panels?
A bit like this one https://grafana.com/grafana/plugins/pr0ps-trackmap-panel/

[2021-06-23 22:37] alduxvm commented on #58
Hello,

I'm using grafana via docker and I installed this plugin via the cli> `grafana-cli plugins install alexandra-trackmap-panel` is installing version 1.2.6... I tried doing the next and I'm getting error:

[code]

How to install the latest version using the cli? thanks!!!

[2021-06-29 16:53] xkilian commented on #63
Duplicate from #43

[2021-07-12 20:26] mapleafGWN commented on #62
Similar issue as bijwaard - **the locations plot at Latitude / Longitude of 0,0**

**Using Trace Map v2.2.1; Enterprise Grafana v7.5.4; Oracle SQL Developer.**

Query format is **'Table'**.  Query inspector data table shows two correct non-zero latitude / longitude locations:

![Query_Inspector](https://user-images.githubusercontent.com/80185594/125349785-3489cb80-e31b-11eb-8ac8-724342f485fc.png)

[2021-07-14 00:02] mapleafGWN commented on #62
This appears to be similar to issue #58.  I've attempted to get this to plot locations through Docker containers for Grafana versions 7.5.4 and 7.5.9 with the same result - only plots at lat/lon 0,0.  Same results on company's Enterprise version of Grafana (7.5.4).  So, if I am getting same results with different versions of Grafana is this an issue with the plugin?

Again, its using format 'Table

[2021-07-14 00:19] mapleafGWN commented on #58
Hi alduxvm:  I'm not sure if this helps - take a look at the Grafana site regarding using Docker and adding third party plugins: https://grafana.com/docs/grafana/latest/installation/docker/#install-plugins-from-other-sources

[2021-07-14 09:24] Alkarex commented on #58
@alduxvm @mapleafGWN
We have added additional installation instructions. I hope that helps:
https://github.com/alexandrainst/alexandra-trackmap-panel#installation

[2021-07-14 21:38] mapleafGWN commented on #62
Still looking for why markers are not at lat/lon locations shown in query table.
Reviewing again the 'Query' tab and it shows "**series:nul**l" and "**dataframes:null**".  Why?  Image below shows the correct values extracted.  What is causing this?
![Query-tab](https://user-images.githubusercontent.com/80185594/125696094-7a9beb6a-1850-45e0-917b-1107691b3a0b.png)

[2021-07-15 07:09] bijwaard commented on #62
Hi,
Not sure why your query results look empty, the data may be in the columns and rows instead of dataframe/series. My query result looked strange in my grafana 7.6.5 as well, while the inspect data showed latitude and longitude separately, but when I tried to join them the data list is empty.
I updated to grafana 8.0.5 and allowed the unsigned trackmap panel:
`
[plugins]

allow_loading_unsigned_

[2021-07-15 11:12] stijnder opened #65 "Newest versions available on Grafana Cloud"
Hi,

I'm using Grafana Cloud (8.0.4), and I would very much like to use this plugin. The latest version available to install from https://grafana.com/grafana/plugins/alexandra-trackmap-panel/?tab=installation is 1.2.6, which I think is not compatible with this Grafana version. I don't think I have another option to manually install the latest version (2.2.1) of this plugin in Grafana Cloud.
I'm no

[2021-07-16 06:29] bijwaard commented on #62
Hi,
As proposed by Ryan in the [related grafana ticket](https://github.com/grafana/grafana/issues/36782), a work-around in e.g. grafana 8.0.5 is to add an outer- transform to join the metrics in time.
![image](https://user-images.githubusercontent.com/6523124/125902312-0e639788-bd8b-4b40-bc51-423cd2631592.png)
Kind regards,
Dennis

[2021-07-22 07:19] dayjaby opened #66 "HexbinLayer not updating to new time range"
If I select a new time range, I get a red exclamation mark saying "L.HexbinLayer is not a constructor". After refreshing the whole website, the hexbin layer works again.

[code]

[2021-07-29 19:25] Bart-1992 opened #67 "Map not updating correctly when starting with null/0 (lat/lon) values in time range"
When starting/opening grafana with a timerange that does not contain latitude/longitude data ( eg null or 0 --> setting :
`Discard positions that contains null (avoid plugin crash) or exactly 0 (inconsistent) coordinates ` to ON ) the map/panel gives an error --> "Invalid LatLng object: (NaN, NaN)"

When correcting the timerange to a point that does contain lat/lon data the map is not updated/refr

[2021-08-10 21:37] ElBalsero commented on #59
Is there anyone maintaining this plugin?

[2021-08-11 09:18] Alkarex commented on #59
Yes, but only with few resources, and with a focus on our most important needs. So pull requests welcome and additional contributors and maintainers as well :-)

[2021-08-11 11:48] ElBalsero commented on #59
Thanks for the answer, @Alkarex. I understand the situation. I wish I had the ability to help.

Could you at least tell me if I am using the option correctly and "Zoom map to fit data bounds is supposed to zoom the map just around the antpath area?

[2021-08-11 16:08] danmx opened #68 "X,Y Trackmap over a static background"
It would be very useful to have a support for X,Y coordinates and a static background.

My use case would be drawing an heatmap/trackmap over a static picture like a floor layout or a camera snapshot.

[2021-08-23 12:18] ZhongyuWang commented on #65
Hi,

I have not tried to install the plugin on the Grafana Cloud. I would like to know if it is possible to install the plugin manualy from the release. I guess why the plugin is not available is that it is not signed at the moment.

To install the plugin with Grafana 8 locally or with docker, the environment variable GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS needs to be set. Ex. GF_PLUGINS_ALLOW_

[2021-08-24 08:15] ZhongyuWang commented on #50
Close for now and feel free to post more information.

[2021-08-24 08:15] #50 closed

[2021-08-24 08:15] ZhongyuWang commented on #58
Close for now and feel free to post more information.

[2021-08-24 08:15] #58 closed

[2021-08-25 14:03] #63 closed

[2021-08-25 14:07] #52 closed

[2021-09-04 17:44] steve-burke commented on #47
I raised https://github.com/alexandrainst/alexandra-trackmap-panel/issues/52 in regard to the inability to display readable time using InfluxDB 1.8 and InfluxQL.  I couldn't even get the readable timestamp in the popup field.

So I tried again using Flux, and again I couldn't get the readable popup timestamp, which I therefore suppose requires using InfluxDB 2.0.

However I was able to fix the iss

[2021-09-05 01:40] steve-burke commented on #47
This is substantially faster:
[code]

[2021-09-05 08:14] viktak commented on #47
Awesome, thanks for it, @steve-burke , it works like a charm! I don't notice any significant loss in speed. However, the proper solution would be if the component supported it.

[2021-09-05 15:59] steve-burke commented on #47
I agree @viktak, although this issue and your post have resulted in my learning about Flux, which was interesting.

[2021-09-07 15:16] steve-burke commented on #47
Still learning...

The following is more efficient.  However, none of these solutions display local time; they all show UTC.  I can't find a way of fixing this in Flux.

[code]

[2021-09-17 07:42] cgalindohurtado opened #70 "Wrong option name in panel options"
In panel options->track map, the title option "Custom latitude name" is duplicated. It's only necessary to change the name in module.ts since path is ok.

    builder
      .addTextInput({
        path: 'coordinates.customLatitudeColumnName',
        name: 'Custom latitude column name',
        defaultValue: '',
      })
      .addTextInput({
        path: 'coordinates.customLongitudeColumnName',

[2021-09-17 20:26] #70 closed

[2021-10-02 17:57] toty04 commented on #15
Hi,
I'm also trying to integrate Alexandra-trackmap with Elasticsearch.
Trackmap is version: 2.2.1, Grafana is 8 and Elastic is 7.10.2.
Is there any update on this?
@mmicu were you able to make it work?
Thanks!

[2021-10-03 17:04] mmicu commented on #15
Hi @toty04. No, unfortunately, I was not able to solve it.

[2021-10-09 09:33] Maplesoup opened #72 "Update Track Map to latest version on Grafana Plugin repository"
Currently in the Grafana hosted plugin respository the latest version of Track Map isn't avaliable (https://grafana.com/grafana/plugins/alexandra-trackmap-panel/) newest version is 1.2.6 this version doesn't appear to work with the latest versions of Grafana (Or i haven't been able to get it working)

Can also see on the built in plugin admin page in grafana that the plugin suggests it is compatia

[2021-11-08 19:53] j-or opened #78 "Feature suggestion: Live and non-live tracks"
A feature first suggested here https://github.com/alexandrainst/alexandra-trackmap-panel/pull/51. It was not finished, so it's been moved to this separate issue.

Some todos with the comment _Feature "Live track"_ are sprinkled around the project if someone wants to continue working on it.

[2021-11-08 20:08] xkilian commented on #43
"The react solution for getting the cursor position is to subscribe to the eventbus in the
PanelProps with the DataHoveEvent."

Thanks to @leonardopivetta for finding this.

[2021-12-06 15:26] #13 closed

[2021-12-06 15:28] j-or commented on #53
See https://github.com/alexandrainst/alexandra-trackmap-panel/pull/51 and https://github.com/alexandrainst/alexandra-trackmap-panel/pull/55

[2021-12-06 15:28] #53 closed

[2021-12-07 08:29] j-or commented on #39
The popup is now parsed as HTML, so adding a link there will work.
<img width="309" alt="link" src="https://user-images.githubusercontent.com/36296721/144993052-66db70aa-9030-47d9-b3a1-a04e59fa747c.png">

[2021-12-07 08:29] #39 closed

[2021-12-07 08:50] j-or commented on #60
You can't add two "popups" or two "tooltips" to one marker. You can either add all your information inside the same popup/tooltip, or have one of each with different content in the two. So you can show one thing on mouseover and another on click.
<img width="317" alt="popup_tooltip" src="https://user-images.githubusercontent.com/36296721/144996424-158d4c6d-0239-4e49-b3e8-e52fb6c09fa3.png">

[2021-12-07 08:50] #60 closed

[2021-12-14 09:28] CharlesEdouardCady commented on #67
I had the same problem. First I tried to patch the code (from commit a7217bc):

[code]

But then I realized that the auto-update would no longer work. So in fact, my fix is equivalent to disabling the `Zoom map to fit data bounds` option in the plugin's settings (`"zoomToDataBounds": false` in the JSON).

[2022-01-25 10:32] bijwaard opened #84 "Feature suggestion: change view via grafana template variable"
Dear all,

Currently, you have to be in panel edit mode to change the view from e.g. markers to heatmap. Would it be possible to do this through a grafana template variable, so users with viewing role can also change the view type?

Kind regards,
Dennis

[2022-02-08 16:42] rudibroekhuizen opened #85 "Grafana v8.3.4 plugin disabled"
In Grafana v8.3.4 this plugin is disabled because of missing signature. It can't be enabled.

[2022-02-17 15:53] rudibroekhuizen commented on #85
Thanks. When used with docker use this environment variable:

`GF_PLUGINS_ALLOW_LOADING_UNSIGNED_PLUGINS=alexandra-trackmap-panel`

[2022-02-17 15:53] #85 closed

[2022-03-18 23:38] 2Belette commented on #43
I got the exact same use case with map and some other metrics for running and would be so nice to correlate the metric with the position. Any if you found a working solution?

[2022-04-08 13:50] xkilian commented on #43
Someone needs to step up and implement it in the current plugin. I am not a web developper, so I guess this is an open call for contributions!

[2022-04-21 07:27] Alkarex commented on #43
@xkilian We happily accept pull requests, so input welcome, but we do not have many resources at the moment to develop new features

[2022-04-22 09:01] dmak commented on #59
Subscribing to the issue as I experience the same with plugin latest master snapshot on Grafana 8.x.

My answer is not authoritative, but I believe yes: the map should be centered and zoomed in/out so that the path fits the view boundaries.

[2022-06-28 07:41] MatinF opened #87 "Feature: Support timesyncing with new Grafana Time series graph"
Currently, TrackMap is the only solution for having a 'timesynced' GPS position vs. other panel plots.

Unfortunately, this only works with the `Graph (old)` panel in Grafana, which is getting fully removed in the latest releases (deprecated).

Would it be possible to update TrackMap to support the same time sync functionality for the new built in Time series panel type in Grafana? This would be i

[2022-06-29 12:59] tormodvolden commented on #87
Sorry to ask here, but does this plugin still work fine with Grafana 9 (9.0.2)?

[2022-08-09 08:56] Alkarex commented on #87
@tormodvolden I have not yet tried with Grafana 9. We are not working on that plugin at the moment, but I would happily merge pull requests if anyone has resources to update the compatibility

[2022-08-09 09:12] tormodvolden commented on #87
Thanks, I tried it with Grafana 9.0.2 on Sunday (with the intention to report back here), and it seems to work fine (to the extent we are using it anyway).

[2022-08-09 09:18] tormodvolden commented on #72
Just want to chime in here with that FWIW, as mentioned in #87, TrackMap 2.2.1 seems to work fine with Grafana 9.0.2.

[2022-11-30 10:08] anirudh-ramesh commented on #72
Hi @Alkarex, any chance the latest version can be published to the Grafana plugins repository?

[2022-11-30 10:08] anirudh-ramesh commented on #65
Identical to #72.